name: Verify PR
on:
  pull_request:
    branches:
      - main

jobs:
  check-packages:
    name: No PR preview packages
    runs-on: ${{ vars.RUNS_ON }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: No PR preview packages
        uses: Kong/public-shared-actions/pr-previews/validate@main
