name: Verify PR
on:
  pull_request:
    branches:
      - main

jobs:
  check-packages:
    name: No PR preview packages
    runs-on: ${{ vars.RUNS_ON }}
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: No PR preview packages
        uses: Kong/public-shared-actions/pr-previews/validate@main
